Neste primeiro bloco usaremaos as seguintes Bibliotecas: 
Pandas como pd(para análise de dados);
numpy  como np (para endereços numéricos) e
multiplotlib.pyplot (para geração de gráficos).

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Neste segundo bloco usaremos o arquivo csv com os dados separados com ponto e vígula
onde é exibido as principais linhas do Dataframe para dar uma visão geral dos dados carregados.

In [ ]:
dados=pd.read_csv('ArmasApreendidasEvolucaoCisp.csv', sep=';')
display(dados.head())

,cisp,mes,ano,aisp,risp,arma_fogo_arma_fabricacao_caseira,arma_fogo_carabina,arma_fogo_espingarda,arma_fogo_fuzil,arma_fogo_garrucha,...,simulacro_fuzil,simulacro_garrucha,simulacro_garruchao,simulacro_metralhadora,simulacro_outros,simulacro_paintball,simulacro_pistola,simulacro_revolver,simulacro_submetralhadora,simulacro_total
0,1,1,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,2007,5,1,0,0,0,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Este terceiro bloco criará uma cópia do DataFrame "dados'e exibirá a cópia, será útil para preservar
dados originais enquanto se trabalha com uma versão duplificada.

In [ ]:
df_copia=dados.copy()
display(df_copia)

,cisp,mes,ano,aisp,risp,arma_fogo_arma_fabricacao_caseira,arma_fogo_carabina,arma_fogo_espingarda,arma_fogo_fuzil,arma_fogo_garrucha,...,simulacro_fuzil,simulacro_garrucha,simulacro_garruchao,simulacro_metralhadora,simulacro_outros,simulacro_paintball,simulacro_pistola,simulacro_revolver,simulacro_submetralhadora,simulacro_total
0,1,1,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,2007,5,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,2007,5,1,0,0,0,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29731,168,8,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29732,168,9,2024,28,5,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29733,168,10,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29734,168,11,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29735,168,12,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#visualizando os campos com dados NaN(Vazio)

In [ ]:
print(df_copia.isna().sum)

<bound method DataFrame.sum of         cisp    mes    ano   aisp   risp  arma_fogo_arma_fabricacao_caseira  \
0      False  False  False  False  False                              False
1      False  False  False  False  False                              False
2      False  False  False  False  False                              False
3      False  False  False  False  False                              False
4      False  False  False  False  False                              False
...      ...    ...    ...    ...    ...                                ...
29731  False  False  False  False  False                              False
29732  False  False  False  False  False                              False
29733  False  False  False  False  False                              False
29734  False  False  False  False  False                              False
29735  False  False  False  False  False                              False

       arma_fogo_carabina  arma_fogo_espingarda  arma_fogo_fuzil  \
0                   False                 False            False
1                   False                 False            False
2                   False                 False            False
3                   False                 False            False
4                   False                 False            False
...                   ...                   ...              ...
29731               False                 False            False
29732               False                 False            False
29733               False                 False            False
29734               False                 False            False
29735               False                 False            False

       arma_fogo_garrucha  ...  simulacro_fuzil  simulacro_garrucha  \
0                   False  ...             True                True
1                   False  ...             True                True
2                   False  ...             True                True
3                   False  ...             True                True
4                   False  ...             True                True
...                   ...  ...              ...                 ...
29731               False  ...            False               False
29732               False  ...            False               False
29733               False  ...            False               False
29734               False  ...            False               False
29735               False  ...            False               False

       simulacro_garruchao  simulacro_metralhadora  simulacro_outros  \
0                     True                    True              True
1                     True                    True              True
2                     True                    True              True
3                     True                    True              True
4                     True                    True              True
...                    ...                     ...               ...
29731                False                   False             False
29732                False                   False             False
29733                False                   False             False
29734                False                   False             False
29735                False                   False             False

       simulacro_paintball  simulacro_pistola  simulacro_revolver  \
0                     True               True                True
1                     True               True                True
2                     True               True                True
3                     True               True                True
4                     True               True                True
...                    ...                ...                 ...
29731                False              False               False
29732                False              False               False
29733                False              False               False
29734                False              False               False
29735                False              False               False

       simulacro_submetralhadora  simulacro_total
0                           True             True
1                           True             True
2                           True             True
3                           True             True
4                           True             True
...                          ...              ...
29731                      False            False
29732                      False            False
29733                      False            False
29734                      False            False
29735                      False            False

[29736 rows x 42 columns]>

Este bloco cria um novo DataFrame 'df_copia' e armazena em 'df-copia2'.
Substitui valores NaN (vazios) por 0 no DataFrame 'df_copia2'

In [ ]:
df_copia2=df_copia.copy()
#subistituindo valores Nan(vazio)por número 0
df_copia2=df_copia2.fillna(0)
display(df_copia2)

,cisp,mes,ano,aisp,risp,arma_fogo_arma_fabricacao_caseira,arma_fogo_carabina,arma_fogo_espingarda,arma_fogo_fuzil,arma_fogo_garrucha,...,simulacro_fuzil,simulacro_garrucha,simulacro_garruchao,simulacro_metralhadora,simulacro_outros,simulacro_paintball,simulacro_pistola,simulacro_revolver,simulacro_submetralhadora,simulacro_total
0,1,1,2007,5,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2,2007,5,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,3,2007,5,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,4,2007,5,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,5,2007,5,1,0,0,0,0,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29731,168,8,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29732,168,9,2024,28,5,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29733,168,10,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29734,168,11,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29735,168,12,2024,28,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Neste sexto bloco criamos um novo DataFrame'df_resumo_estátistico'
Removendo as colunas específicasde 'df_copia2'

In [ ]:
colunas_para_remover=['cisp','mes','ano','aisp','risp'] # lista
df_resumo_estatistico=df_copia2.drop(columns=colunas_para_remover)
display(df_resumo_estatistico)

,arma_fogo_arma_fabricacao_caseira,arma_fogo_carabina,arma_fogo_espingarda,arma_fogo_fuzil,arma_fogo_garrucha,arma_fogo_garruchao,arma_fogo_metralhadora,arma_fogo_outros,arma_fogo_pistola,arma_fogo_revolver,...,simulacro_fuzil,simulacro_garrucha,simulacro_garruchao,simulacro_metralhadora,simulacro_outros,simulacro_paintball,simulacro_pistola,simulacro_revolver,simulacro_submetralhadora,simulacro_total
0,0,0,0,0,0,0,0,0,0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,1,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,6,0,0,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29731,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29732,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29733,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29734,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29735,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

df_resumo_estatistico para realizar análises descritivas detalhadas

Primeira Parte: Contendo as primeiras 20 colunas do dataframe.

Segunda Parte: Contendo as colunas de 20 a 36 do dataframe.

Para cada uma dessas partes, calculamos estatísticas descritivas, que incluem medidas como média, desvio padrão, valores mínimos e máximos

In [ ]:
df_parte_1=df_resumo_estatistico.iloc[:,0:20]
df_parte_2=df_resumo_estatistico.iloc[:,20:37]
estatisca1=df_parte_1.describe()
estatisca2=df_parte_2.describe()
display(estatisca1)
display(estatisca2)

,arma_fogo_arma_fabricacao_caseira,arma_fogo_carabina,arma_fogo_espingarda,arma_fogo_fuzil,arma_fogo_garrucha,arma_fogo_garruchao,arma_fogo_metralhadora,arma_fogo_outros,arma_fogo_pistola,arma_fogo_revolver,arma_fogo_submetralhadora,arma_fogo_total,arma_branca_total,artefato_explosivo_armadilha_explosiva,artefato_explosivo_armadilha_incendiaria,artefato_explosivo_bomba_fabricacao_caseira,artefato_explosivo_granada,artefato_explosivo_material_belico_explosivo,artefato_explosivo_material_explosivo,artefato_explosivo_material_explosivo_caseiro
count,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.0
mean,0.089689,0.054580,0.443503,0.217380,0.087806,0.005952,0.024583,0.051890,1.821193,2.012006,0.020547,4.829130,0.347222,0.004036,0.000706,0.110607,0.280872,0.002791,0.066115,0.0
std,0.730875,0.285424,1.093372,1.077661,0.363074,0.094216,0.256021,0.339682,2.895909,2.933858,0.174982,5.999666,1.797275,0.600474,0.072196,1.621729,1.215368,0.113161,2.193176,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,35.000000,12.000000,35.000000,62.000000,9.000000,8.000000,30.000000,28.000000,68.000000,109.000000,9.000000,201.000000,172.000000,103.000000,10.000000,137.000000,53.000000,14.000000,220.000000,0.0

,artefato_explosivo_material_nao_identificado,artefato_explosivo_total,municao_total,simulacro_airsoft,simulacro_arma_fabricacao_caseira,simulacro_carabina,simulacro_espingarda,simulacro_fuzil,simulacro_garrucha,simulacro_garruchao,simulacro_metralhadora,simulacro_outros,simulacro_paintball,simulacro_pistola,simulacro_revolver,simulacro_submetralhadora,simulacro_total
count,29736.000000,29736.000000,29736.000000,29736.000000,29736.0,29736.00000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000,29736.000000
mean,0.029123,0.494249,52.556363,0.018967,0.0,0.01927,0.003363,0.025054,0.000874,0.000168,0.000975,0.020144,0.000975,0.340530,0.014023,0.001513,0.445857
std,0.516510,3.239620,314.769165,0.166801,0.0,0.16545,0.074189,0.190080,0.040168,0.015342,0.032274,0.175221,0.031214,0.920075,0.120694,0.039728,1.118306
min,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,38.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,59.000000,226.000000,23803.000000,8.000000,0.0,8.00000,5.000000,7.000000,5.000000,2.000000,2.000000,12.000000,1.000000,12.000000,2.000000,2.000000,14.000000

Atraves do comando describe, foi possivel visualizar as cololunas,com as principais funções estatisticas.
As colunas que melhor apresentaram resultados foram respectivamente:arma_fogo_pistola,arma_fogo_revolver,arma_fogo_total e municao_total.

Define uma lista de colunas que queremos copiar do dataframe original.

Cria um novo dataframe chamado

Mostrar dataframes

In [ ]:
colunas_para_copiar=['mes','ano','arma_fogo_pistola','arma_fogo_revolver','arma_fogo_total','municao_total']
df_consulta=df_copia2[colunas_para_copiar].copy()
display(df_consulta)

,mes,ano,arma_fogo_pistola,arma_fogo_revolver,arma_fogo_total,municao_total
0,1,2007,0,2,2,0.0
1,2,2007,0,1,1,0.0
2,3,2007,0,0,0,0.0
3,4,2007,4,1,6,0.0
4,5,2007,1,2,9,0.0
...,...,...,...,...,...,...
29731,8,2024,0,0,0,0.0
29732,9,2024,0,0,1,0.0
29733,10,2024,0,0,0,0.0
29734,11,2024,0,0,0,0.0
29735,12,2024,0,0,0,0.0

Realizamos uma filtragem de dados para selecionar apenas as linhas que atendem a uma condição específica

 A função loc é usada para acessar um grupo de linhas e colunas pelo rótulo(s) ou uma matriz booleana.

In [ ]:
df_loc=df_consulta.loc[df_consulta['arma_fogo_total']>100]
display(df_loc)

,mes,ano,arma_fogo_pistola,arma_fogo_revolver,arma_fogo_total,municao_total
3938,3,2009,7,109,121,0.0
5194,11,2010,49,17,201,0.0
6766,11,2011,33,3,123,0.0

Realizamos uma seleção específica de linhas e colunas de um dataframe.

 Criamos um novo dataframe chamado df_loc2 que contém as linhas de índice e as colunas do dataframe.

 A função iloc é usada para selecionar dados com base em índices de posição.

In [ ]:
df_loc2=df_consulta.iloc[17204:17206,0:25]
display(df_loc2)

,mes,ano,arma_fogo_pistola,arma_fogo_revolver,arma_fogo_total,municao_total
17204,9,2017,7,8,15,74.0
17205,10,2017,8,10,20,184.0

filtragem de dados para selecionar apenas as linhas que atendem a uma condição específica.

Selecionamos as colunas e criamos um novo dataframe chamado df_consulta2.

Utilizamos a função query para filtrar df_consulta2. O resultado é armazenado em df_query.

In [ ]:
df_consulta2=df_consulta.iloc[:,4:6]
df_query=df_consulta2.query('municao_total>184')
display(df_query)

       arma_fogo_total  municao_total
11605                1          604.0
11610                4          203.0
11624               13          234.0
11642                2          197.0
11676                3          395.0
...                ...            ...
29694               32          253.0
29701               12          859.0
29705                5          191.0
29707               10         1107.0
29708               10          336.0

[1633 rows x 2 columns]

Criamos um novo dataframe chamado df_consulta3 que é uma cópia do dataframe df_consulta, mas sem as colunas 'mes' e 'ano'.

 A função drop é usada para remover colunas ou linhas do dataframe.

 O parâmetro columns especifica quais colunas devem ser removidas

In [13]:
df_consulta3=df_consulta.drop(columns=['mes','ano'])

Calculamos a média de todas as colunas numéricas de um dataframe através da variável mean

E armazena o resultado na variável media

In [14]:
media=df_consulta3.mean()
display(media)

arma_fogo_pistola      1.821193
arma_fogo_revolver     2.012006
arma_fogo_total        4.829130
municao_total         52.556363
dtype: float64

Calcula a mediana de todas as colunas numéricas do dataframe df_consulta3

In [15]:
mediana=df_consulta3.median()
display(media)

arma_fogo_pistola      1.821193
arma_fogo_revolver     2.012006
arma_fogo_total        4.829130
municao_total         52.556363
dtype: float64

Calcula os quartis Q1 (25%), Q2 (50%) e Q3 (75%) do dataframe df_consulta3 e exibe os resultados.

In [16]:
q1=df_consulta3.quantile(0.25)
q2=df_consulta3.quantile(0.50)
q3=df_consulta3.quantile(0.75)

print(f"  Q1 (25%): {q1}")
print(f"  Q3 (50%): {q2}")
print(f"  Q3 (75%): {q3}")

  Q1 (25%): arma_fogo_pistola     0.0
arma_fogo_revolver    0.0
arma_fogo_total       1.0
municao_total         0.0
Name: 0.25, dtype: float64
  Q3 (50%): arma_fogo_pistola     1.0
arma_fogo_revolver    1.0
arma_fogo_total       3.0
municao_total         0.0
Name: 0.5, dtype: float64
  Q3 (75%): arma_fogo_pistola      3.0
arma_fogo_revolver     3.0
arma_fogo_total        7.0
municao_total         38.0
Name: 0.75, dtype: float64

Calcula o intervalo interquartil (IQR) subtraindo o primeiro quartil (Q1) do terceiro quartil (Q3) e exibe o resultado

In [17]:
iqr=q3-q1
print(iqr)

arma_fogo_pistola      3.0
arma_fogo_revolver     3.0
arma_fogo_total        6.0
municao_total         38.0
dtype: float64

Calcula os limites superior e inferior usando o intervalo interquartil (IQR) e exibe os resultados.

Calcula o limite superior adicionando 1,5 vezes o intervalo interquartil (IQR) ao terceiro quartil (Q3).

Calcula o limite inferior subtraindo 1,5 vezes o intervalo interquartil (IQR) do primeiro quartil (Q1)

Este valor é usado para identificar possíveis valores atípicos abaixo do intervalo interquartil.

In [18]:
limite_superior=q3+(1.5*iqr)
limite_inferior=q1-(1.5*iqr)
print(f'Limite Superior: {limite_superior}')
print(f'Limite Inferior: {limite_inferior}')

Limite Superior: arma_fogo_pistola      7.5
arma_fogo_revolver     7.5
arma_fogo_total       16.0
municao_total         95.0
dtype: float64
Limite Inferior: arma_fogo_pistola     -4.5
arma_fogo_revolver    -4.5
arma_fogo_total       -8.0
municao_total        -57.0
dtype: float64

Calcula a distância relativa entre a média e a mediana, dividindo a diferença pela mediana,

In [20]:
distancia=(media-mediana)/mediana
print(distancia)

arma_fogo_pistola     0.821193
arma_fogo_revolver    1.012006
arma_fogo_total       0.609710
municao_total              inf
dtype: float64

Calcula a variância de todas as colunas numéricas do dataframe df_consulta3

In [ ]:
variancia=df_consulta3.var()
display(variancia)

arma_fogo_pistola         8.386288
arma_fogo_revolver        8.607524
arma_fogo_total          35.995992
municao_total         99079.627225
dtype: float64

Calcula o desvio padrão de todas as colunas numéricas do dataframe

In [22]:
desviopadrao=df_consulta3.std()
display(desviopadrao)

arma_fogo_pistola       2.895909
arma_fogo_revolver      2.933858
arma_fogo_total         5.999666
municao_total         314.769165
dtype: float64

Calcula uma segunda distancia,agora entre o desvio Padrão dividido pela média ao quadrado

In [ ]:
distancia2=(df_consulta3.std())/((df_consulta3.mean())**2)
display(distancia2)

Calcula o valor minimo de cada coluna no do DataFrame.

In [ ]:
valor_minimo=df_consulta3.min()
print(f'Menor Valor:{valor_minimo}')

Calcula o valor Máximo de cada coluna no do DataFrame.

In [ ]:
valor_maximo=df_consulta3.max()
print(f'Maior Valor:{valor_maximo}')

Calcula a amplitude de cada coluna no do DataFrame.

In [ ]:
amplitude_total=valor_maximo-valor_minimo
print(f'Amplitude:{amplitude_total}')